@font-face {
    font-family: 'Sora';
    src: url('/assets/fonts/Sora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('/assets/fonts/Sora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('/assets/fonts/Sora-Medium.ttf') format('truetype');
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100%;
}

.home-section {
    width: 100%;
    height: auto;
    padding-bottom: 120px;
    /* background-image: url('/assets/imgs/home-background.png');
    background-position: center center;
    background-size: cover; */
    position: relative;
}


.home-section::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url('/assets/imgs/home-background.png');
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    z-index: -1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    padding: 25px 0;

}

.navbar .logo {
    width: 100px;
    height: auto;
}


.navbar .logo img {
    width: 100%;
    height: auto;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
}

.menu-toggle {
    display: none;
}

.navbar .links .link-container a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .links .link-container a:hover {
    cursor: pointer;
    color: gold;
}

.navbar .links .link-active a {
    color: gold;
}

.navbar .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .social-links .social-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.3s ease-in;
}

.navbar .social-links .social-container img {
    width: 100%;
    height: auto;
}

.navbar .social-links .social-container:hover {
    background-color: gold;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    bottom: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111222;
    color: white;
    overflow-y: auto;
    transition: bottom 0.3s ease-in-out;
    padding-top: 50px;
    z-index: 1000;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);
}

.sidebar-links a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #444;
}

.close-btn {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.home-section .home-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 25px 0;
    gap: 50px;
}

.home-container .home-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container h1 {
    color: #fff;
    width: 40%;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-shadow:
        0 0 5px gold,
        0 0 10px gold,
        0 0 20px gold,
        0 0 30px orange,
        0 0 40px orange,
        0 0 50px red;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.home-container p {
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    -webkit-text-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
    text-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
}

.home-container .buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.1em;
    background-image: linear-gradient(90deg, #0f0 0%, #1e90ff 100%);
    border-style: solid;
    border-width: 1px 1px 8px;
    border-color: #030303;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(244.49999999999997, 161.4462618147448, 14.35108695652171, .5);
    padding: 5px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}


.home-container .buy-now:hover {
    cursor: pointer;
    background-color: gold;
    background-image: linear-gradient(90deg, #1e90ff 0%, #0f0 100%);
    color: #000;
    box-shadow:
        0 0 5px gold,
        0 0 10px gold,
        0 0 20px gold,
        0 0 30px orange,
        0 0 40px orange,
        0 0 50px red;
}


.home-container .buy-now span {
    font-size: 1rem;
    display: flex;
}

.about-section {
    width: 100%;
    height: auto;
    padding: 5% 0;
    background-color: #111222;
    display: flex;
    align-items: center;
}

.about-section .about-img {
    margin-left: 10%;
    position: relative;
    width: 500px;
    height: 500px;
    -webkit-mask-image: url(/assets/imgs/mask.png);
    mask-image: url('/assets/imgs/mask.png');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-image: url('/assets/imgs/about_trump.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-repeat: no-repeat;
    background-color: #333;
    overflow: hidden;
}

.about-section .about-content {
    margin-left: 10%;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
}

.about-section .about-content h3 {
    font-weight: lighter;
    font-size: 1rem;
}

.about-section .about-content h1 {
    font-weight: bolder;
    font-size: 2rem;
}

.about-section .about-content p {
    letter-spacing: 2px;
    line-height: 1.5rem;
    width: 80%;
    text-align: start;
    text-transform: none;
}

.howtobuy-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 150px 0;
    gap: 30px;
}

.howtobuy-section::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url('/assets/imgs/howtobuy-background.png');
    background-position: center center;
    background-size: cover;
    filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    z-index: -1;
}

.howtobuy-section .howtobuy-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: center;
}

.howtobuy-section .howtobuy-title h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
}

.howtobuy-section .card-section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.howtobuy-section .card {
    width: 30%;
    background: linear-gradient(180deg, gold 0%, rgb(140, 119, 0) 100%);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: auto 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.howtobuy-section .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid #000;
    cursor: pointer;
    box-shadow:
        0 0 5px gold,
        0 0 10px gold,
        0 0 20px gold,
        0 0 30px orange,
        0 0 40px orange,
        0 0 50px red;
}

.howtobuy-section .icon {
    margin-bottom: 15px;
    color: #fff;
}


.howtobuy-section .title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
    z-index: 2;
    text-transform: uppercase;
}

.howtobuy-section .description {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
}


.roadmap-section {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-image: url(/assets/imgs/roadmap-background.png);
    background-position: center center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.roadmap-section .roadmap-title h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.phases {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.phase {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: #787878;
}

.phase:hover {
    transform: translateY(-10px);
    background-color: gold;
    color: #fff;
    font-weight: bold;
}

.phase h3 {
    font-size: 1.3rem;
    color: #16a085;
    margin-bottom: 15px;
}

.phase ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.phase li {
    font-size: 1rem;
    margin: 10px 0;
    text-align: start;
    margin-left: 5%;
    transition: transform 0.3s ease;
}

.phase li::before {
    content: "• ";
    color: gold;
    font-size: 1rem;
}

.phase li:hover {
    transform: scale(1.2) translateY(5%);
    cursor: pointer;
}

.tokenomics-section {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #111222;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tokenomics-section .tokenomics-title {
    width: 65%;
    color: #fff;
    text-transform: uppercase;
}

.tokenomics-section .tokenomics-title h1 {
    font-size: 2rem;
    color: gold;
}

.tokenomics-section .tokenomics-title p {
    width: 40%;
    color: #898989;
    text-transform: none;
}

.tokenomics-section .tokenomics-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tokenomics-content .tokenomics-liquid {
    height: auto;
    width: auto;
}

.tokenomics-section .tokenomics-liquid .tokenomics-img {
    width: 400px;
    height: 400px;
    -webkit-mask-image: url(/assets/imgs/shape11.png);
    mask-image: url('/assets/imgs/shape11.png');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: cover;
    background-image: url('/assets/imgs/trump-token.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-repeat: no-repeat;
    margin-bottom: 5%;
}



.tokenomics-content .button-glow {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 217, 0, 0.5);
    border: none;
    border-top: 3px solid rgba(255, 217, 0, 0.2);
    border-left: 3px solid rgba(255, 217, 0, 0.2);
    border-right: 6px solid rgba(255, 217, 0, 0.4);
    border-bottom: 6px solid rgba(255, 217, 0, 0.4);
    border-radius: 8px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(255, 217, 0, 0.1);
    transition: all 0.3s ease;
}

.tokenomics-content .button-glow:hover {
    background-color: rgba(255, 217, 0, 0.9);
    transform: translateY(-5px);
    box-shadow: 0 0 15px 5px rgba(255, 217, 0, 0.5);
    border-top: 3px solid rgba(255, 217, 0, 0.3);
    border-left: 3px solid rgba(255, 217, 0, 0.3);
    border-right: 6px solid rgba(255, 217, 0, 0.5);
    border-bottom: 6px solid rgba(255, 217, 0, 0.5);
}


.tokenomics-content .button-glow:active {
    transform: translateY(2px);
    box-shadow: 0 0 5px 1px rgba(255, 217, 0, 0.1);
    border-top: 3px solid rgba(255, 217, 0, 0.2);
    border-left: 3px solid rgba(255, 217, 0, 0.2);
    border-right: 6px solid rgba(255, 217, 0, 0.4);
    border-bottom: 6px solid rgba(255, 217, 0, 0.4);
}


.tokenomics-content .part-title strong {
    font-size: 1.5rem;
}


.tokenomics-content .part-title {
    font-size: 1rem;
}


.tokenomics-content .other-part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 450px;
}

.partner-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.partner-section::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url('/assets/imgs/partner-background.png');
    background-position: center center;
    background-size: cover;
    filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    z-index: -1;
}

.partner-section .partner-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow:
        0 0 5px gold,
        0 0 10px gold,
        0 0 20px gold,
        0 0 30px orange,
        0 0 40px orange,
        0 0 50px red;
}

.partner-section .partner-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 90%;
    height: auto;
}

.partner-section .partner-content .partner-container {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid #ccc;

}

.partner-section .partner-content .partner-container .partner-img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    transition: transform 0.3s, background-color 0.3s;
}

.partner-content .partner-container .img-1 {
    background-image: url(/assets/imgs/metamask-partner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partner-content .partner-container .img-2 {
    background-image: url(/assets/imgs/binance-partner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partner-content .partner-container .img-3 {
    background-image: url(/assets/imgs/bitget-partner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partner-content .partner-container .img-4 {
    background-image: url(/assets/imgs/coinbase-partner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.partner-section .partner-content .partner-container .partner-img:hover {
    transform: scale(1.1);
}

.faq-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 550px;
    padding: 50px 0;
    background-color: #111222;
}


.faq-section .faq-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
}

.faq-section .accordion {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
}

.faq-section .accordion details {
    background-color: #ffffff86;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
}

.faq-section .accordion details[open] {
    background-color: #e7f5ff;
    border-color: gold;
}

.faq-section .accordion summary {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3 ease-in;
}

.faq-section .accordion summary:hover {
    color: rgba(255, 217, 0, 0.5);
}

.faq-section .accordion summary::after {
    content: url('/assets/svgs/arrow-down.svg');
    font-size: 1.5rem;
    color: gold;
    transition: transform 0.2s ease;
}

.faq-section .accordion details[open] summary::after {
    /* content: url('/assets/svgs/arrow-up.svg'); */
    transform: rotate(180deg);
}

.faq-section .accordion details>p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 20px;
}

.faq-section .accordion details[open]>p {
    max-height: 200px;
    padding: 5px 20px;
}


.faq-section .accordion p {
    font-size: 1rem;
    color: #555;
    padding: 5px 0;
    line-height: 1.5;
}

.faq-section .accordion div {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.footer-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    background-color: #000;
    color: #fff;
}

.footer-section .footer-logo {
    width: 150px;
    height: auto;
}

.footer-section .footer-logo img {
    width: 100%;
    height: auto;
}

.footer-section .footer-social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer-section .footer-social-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: gold;
    transition: transform 0.3s ease-in;
}

.footer-section .footer-social-container img {
    width: 100%;
    height: auto;
}

.footer-section .footer-social-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-section .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.footer-section .footer-title h1 {
    font-size: 1.5rem;
    color: gold;
}

.footer-section .footer-title p {
    font-size: 1rem;
    color: #898989;
    text-align: center;
}

.break-line {
    width: 100%;
    height: .5px;
    background-color: #111222;
}

.footer-section .copyright {
    color: #898989;
}

#goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    /* Ẩn nút mặc định */
    background-color: rgba(255, 217, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

#goToTop:hover {
    background-color: rgb(255, 217, 0);
    color: #111222;
}